@import "tailwindcss";

@theme {
  --font-sans: var(--font-roboto), sans-serif;
}

@custom-variant hocus {
  &:hover,
  &:focus {
    @slot;
  }
}

/* A11y: Sometimes the input is invisble, so you want to use the parent to show for example the outline */
@custom-variant has-input-focus {
  &:has(input:focus) {
    @slot;
  }
}

@utility outline-animation {
  outline-width: 0;
  animation: focus 0.1s linear both;
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
}

/* A11y: Add outline animation on focus */
input[type="radio"]:focus + label,
input[type="checkbox"]:focus + label,
input:focus:not([type="radio"], [type="checkbox"]),
textarea:focus,
a:focus,
button:focus,
select:focus,
area:focus,
iframe:focus,
details:focus {
  @apply outline-animation;
}

@keyframes focus {
  0% {
    outline-offset: 16px;
    outline-style: auto;
    outline-width: 0;
  }

  100% {
    z-index: 9999;
    outline-offset: 4px;
    outline-style: auto;
    outline-width: 2px;
  }
}
